#product-overview {
  background: #ff1b68;
}

#product-overview h1 {
  font-family: 'Anton', sans-serif;
  color: white;
}

.section-title {
  color: #2ddf5c;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: inherit;
}